<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="styles/global.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-top">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us.html">About us</a></li>
            <li><a href="/catalog/index.html">Collections</a></li>
            <li><a href="/service.html">Our offer</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-bottom">
        <p>© Sklep-internetowy pristavkigamleng.com™ 2001–2025.</p>
        <nav>
          <ul>
            <li><a href="/privacy.html">Privacy Policy</a></li>
            <li><a href="/platform-rules.html">Platform Usage Rules</a></li>
            <li><a href="/warranty-returns.html">Warranty and Returns</a></li>
            <!-- <li><a href="#">Payment and Delivery</a></li> -->
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
