<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/global.css" />
  </head>
  <body>
    <!-- <div class="header max-container-width"> -->
    <div class="navbar">
      <div class="navbar-wrap max-container-width-2">
        <img class="logo" src="public/img/logo.webp" alt="Logo" />
        <nav>
          <ul class="nav-list">
            <li>
              <a href="/" class="nav-link">Home</a>
            </li>
            <li>
              <a href="/about-us.html" class="nav-link">About us</a>
            </li>
            <li>
              <a href="/catalog/index.html" class="nav-link">Collections</a>
            </li>
            <li>
              <a href="/service.html" class="nav-link">Our offer</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- </div> -->
  </body>
</html>
